*{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family: Arial, Helvetica, sans-serif;
    }
    /* TOPO */

.topo{
    background-color:#0f9c9c;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:10px 30px;
}

.logo{
    width:160px;
    height:70px;
    display:flex;
    align-items:center;
}

.logo img{
    max-width:120px;
    object-fit:contain;
    transform:scale(1.3);
    margin-left:100px;
}

.espaco-topo{
    width:1000px;
}

.icons{
    display:flex;
    align-items:center;
    gap:20px;
    margin-left:40px;
}

.icons i{
    color:white;
    font-size:30px;
}

.user a{
    text-decoration:none;
    color:white;
    display:flex;
    align-items:center;
    gap:8px;
}

.user span{
    font-size:14px;
}

    body{
    margin:0;
    background:#f5f7fb;
}

    .produto-container{
    max-width:1100px;
    margin:30px auto;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    display:flex;
    flex-wrap:wrap;
    box-shadow:0 12px 30px rgba(0,0,0,0.08);
}

    /* IMAGEM */
    .produto-imagem{
      flex:1 1 450px;
      background:rgba(173, 230, 240, 0.7);
      display:flex;
      align-items:center;
      justify-content:center;
      padding:50px;
    }

    .produto-imagem img{
      width:100%;
      max-width:450px;
      border-radius:15px;
      object-fit:cover;
    }

    /* INFORMAÇÕES */
    .produto-info{
      flex:1 1 500px;
      padding:40px;
    }

    .categoria{
      display:inline-block;
      background:#ffe0b2;
      color:#ff7b00;
      padding:5px 14px;
      border-radius:15px;
      font-size:13px;
      font-weight:bold;
      margin-bottom:15px;
      text-transform:uppercase;
    }

    .produto-titulo{
      font-size:30px;
      margin-bottom:15px;
      color:#222;
    }

    .avaliacao{
      color:#ffb400;
      font-size:18px;
      margin-bottom:20px;
    }

    .descricao{
      line-height:1.7;
      color:#555;
      margin-bottom:20px;
    }

    .preco{
      font-size:30px;
      color:#2e8b57;
      font-weight:bold;
      margin-bottom:25px;
    }

    .quantidade-area{
      margin-bottom:20px;
    }

    .quantidade-area label{
      display:block;
      margin-bottom:10px;
      font-weight:bold;
    }

    .quantidade{
      width:80px;
      padding:12px;
      border-radius:10px;
      border:1px solid #ccc;
      font-size:15px;
    }

    /* BOTÕES */
    .botoes{
      display:flex;
      gap:15px;
      flex-wrap:wrap;
      margin-bottom:20px;
    }

    .btn{
      border:none;
      padding:15px 24px;
      border-radius:12px;
      font-size:16px;
      cursor:pointer;
      transition:0.3s;
      font-weight:bold;
    }

    .carrinho{
      background:#ff914d;
      color:white;
    }

    .carrinho:hover{
      background:#ff7a26;
      transform:translateY(-2px);
    }

    .favorito{
      background:white;
      border:2px solid #ff4d6d;
      color:#ff4d6d;
    }

    .favorito:hover{
      background:#ff4d6d;
      color:white;
    }

    /* BENEFÍCIOS */
    .beneficios{
      display:grid;
      grid-template-columns:1fr 1fr;
      gap:15px;
      margin-top:15px;
    }

    .beneficio{
      background:#f8f9fc;
      padding:15px;
      border-radius:12px;
      border:1px solid #eee;
    }

    .beneficio strong{
      display:block;
      margin-bottom:5px;
      color:#444;
    }

    .beneficio p{
      font-size:12px;
      color:#666;
    }

    .tamanhos{
    margin-bottom:25px;
}

.btn-tamanho{
    padding:10px 18px;
    margin-right:10px;
    border:2px solid #0f9c9c;
    background:white;
    color:#0f9c9c;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

.btn-tamanho:hover,
.btn-tamanho.ativo{
    background:#0f9c9c;
    color:white;
}

.botoes{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.btn{
    flex:1;
    padding:14px 10px;
    border-radius:12px;
    font-size:15px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}



    @media(max-width:768px){

      body{
        padding:20px;
      }

      .produto-container{
        flex-direction:column;
      }

      .produto-titulo{
        font-size:30px;
      }

      .preco{
        font-size:34px;
      }

      .beneficios{
        grid-template-columns:1fr;
      }
    }